@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "_focus-visible.css";
}
.my-custom-full-width-component {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.parent {
  display: grid;
  grid-template-columns:  repeat(14, 1fr);
  grid-column-gap: 40 px;
  }
  
  .firstImage { 
    grid-row: 1;
    grid-column: 1 /15;
  }

  .secondImage {
  grid-row: 1;
  grid-column: 1 /15;
  padding-top: 25%;}

  .thirdImage { 
    grid-row: 1;
    grid-column: 3 /9;
    padding-top: 185%;
  z-index: 2; }

  .forthImage { 
  grid-row: 1;
  grid-column: 7 /13;
  padding-top: 260%;
    z-index: 3;}

  .firstText { 
  grid-row: 1;
  grid-column: 9 /13;
  padding-top: 320%;
  } 

  .secondText {
    grid-row: 1;
    grid-column: 3 /7;
    padding-top: 430%;
    padding-right: 40px;
}
  .thirdText {
    grid-row: 1;
    grid-column: 7 /13;
    padding-top: 365%;
    padding-left: 2rem; }

    @media (max-width: 1150px) { 
      
        .thirdImage { 
          grid-column: 2 /9;
          padding-top: 155%; }
      
        .forthImage { 
        grid-column: 7 /14;
        padding-top: 240%;}
      
        .firstText { 
        grid-column: 9 /14;
        padding-top: 250%;
        } 
      
        .secondText {
          grid-column: 2 /7;
          padding-top: 360%;
          padding-right: 50px;
      }
        .thirdText {
          grid-column: 7 /14;
          padding-top: 345%; }
    }

@media (max-width: 767px){  
    .thirdImage { 
      grid-column: 1 /9;
      padding-top: 135%; }
  
    .forthImage { 
    grid-column: 7 /15;
    padding-top: 210%;}
  
    .firstText { 
    grid-column: 2 /7;
    padding-top: 370%;
    padding-right: 40px;
    } 
  
    .secondText {
      grid-column: 2 /14;
      padding-top: 210%;
      padding-right: 0;
  }
    .thirdText {
      grid-column: 2 /14;
      padding-top: 280%;
    padding-left: 0;}
  
     
}

@layer components {
  .hyperlink {
    @apply flex items-center text-primary-600 visited:text-secondary-900 hover:underline;

    &[href^="https://"]::after {
      @apply ml-1 inline-block h-[1em] w-[1em];
      content: url(./icons/external.svg);
    }
  }
}

@layer utilities {
  .circle-clip {
    clip-path: circle();
  }
}
