@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "_focus-visible.css";
  html {
    @apply scroll-smooth;
  }
  main {
    @apply bg-mischka dark:bg-steelgray;
  }
  hr {
    @apply border-0 border-t border-solid border-mischka dark:border-scapaflow;
  }
  h1 {
    @apply text-steelgray dark:text-mischka;
  }
}

@layer components {
  .hyperlink {
    @apply flex items-center text-primary-600 dark:text-fog hover:underline;

    &[href^="https://"]::after
    {
      @apply ml-1 inline-block h-[1em] w-[1em];
      content: url(./icons/external.svg);
    }
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
.circle-clip {
  clip-path: circle();
}
}
